.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-default {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

//.container {
//    width: 100%;
//    max-width: 1200px;
//    margin: 0 auto;
//}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}