.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.container-default {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.container-default {
    width: 100%;
    margin: 0 auto;
    @include respond-to($sm) {
        max-width: 760px;
    }
    @include respond-to($md){
        max-width: 970px;
    }
    @include respond-to($sm) {
        max-width: 1200px;
    }


}
