.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    padding: 25px 0;
    z-index: 2000;
    transition: .7s;
    @include respond-to($sm) {
        padding: 40px 0;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        &:before,
        &:after {
            display: none;
        }
    }
    .logo-wrap {
        max-width: 150px;
        @include respond-to($sm) {
            max-width: 181px;
            height: 56px;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .logo-link {
        display: block;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .right-bar {
        a {
            color: $white;
            text-decoration: none;
            -webkit-transition: .35s;
            -moz-transition: .35s;
            -ms-transition: .35s;
            -o-transition: .35s;
            transition: .35s;
            &:hover {
                color: $gold;
                outline: none;
            }
        }
        .fa {
            display: inline-block;
            font: normal normal normal 20px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .icon {
            font-size: 20px;
        }
    }
    .burger-btn {
        display: inline-block;
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        outline: none;
        margin-left: 10px;
        @include respond-to($lg) {
            display: none;
        }

    }
    .search-bar {
        transform: translateY(-100%);
        transition: .5s;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        background: $black;
        padding: 25px;
        color: $white;
        opacity: 0;
        overflow: hidden;
        .container {
            display: flex;
            justify-content: center;
        }
        &.active {
            transform: translateY(0);
            opacity: 1;
        }
        .form-control,
        .input-group-addon {
            border: none;
            background: transparent;
            color: $white;
        }
        .input-group {
            width: 100%;
            display: flex;
            justify-content: center
        }
        .input-group > * {
            flex-shrink: 0;
        }
        .form-control {
            width: 75%;
            padding: 15px;
        }
        .btn-close {
            font-size: 20px;
            font-weight: 700;
            padding: 0 15px 0;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $primary;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $primary;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: $primary;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $primary;
        }
    }
}