.btn {
    display: inline-block;
    color: $white;
    font-size: 14px;
    font-weight: 800;
    font-family: $secondary-font;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    padding: 21px 39px 21px 37px;
    border-radius: 3px;
    &-main {
        min-width: 170px;
        text-align: center;
        background-color: $dark-gold;
        box-shadow: inset 0px -3px 0 0 #736357;
        transition: .35s;
        &:hover {
            background-color: $gold;
            box-shadow: inset 0px -3px 0 0 $dark-gold;
            color: $white;
        }
    }
    &-search {
        padding: 15px;
    }
    &-cloce {
        padding: 0 15px;
    }
    &-project {
        color: $primary;
        line-height: 1.5;
        font-weight: 300;
        text-transform: none;
        padding: 7px 21px 5px;
        border: solid 1px #ebebeb;
        &:hover {
            color: $white;
            background: $dark-gold;
        }
    }
}

