.banner-slider.owl-theme {
    .owl-nav {
        width: 100%;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        margin-top: 0;
        display: none;
        @include respond-to($md) {
            display: flex;
            justify-content: space-between
        }
        [class*='owl-'] {
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
            .fa {
                font-size: 80px;
                opacity: .5;
                color: $white;
                transition: .35s;
                &:hover {
                    color: $gold;
                    outline: none;
                }
            }
        }
        .owl-prev {
            margin-left: 142px;
        }
        .owl-next {
            margin-right: 142px;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot span {
            background: rgba(255, 255, 255, 0.5);
            width: 11px;
            height: 11px;
            border-radius: 50%;
            margin: 5px 5px;
            &:hover,
            &:focus {
                background: transparent;
                width: 15px;
                height: 15px;
                margin: 3px 3px;
                border: 2px solid rgba(255, 255, 255, 0.5);
            }
        }
        .owl-dot.active span {
            background: transparent;
            width: 15px;
            height: 15px;
            margin: 3px 3px;
            border: 2px solid rgba(255, 255, 255, 0.5);
        }
    }
}

.recent-post-slider.owl-theme {

    .owl-nav {
        margin-top: 17px;
        [class*='owl-'] {
            font-size: 21px;
            margin: 4px;
            padding: 0 2px;
            background: transparent;
            display: inline-block;
            cursor: pointer;
            border-radius: 50%;
            height: 21px;
            width: 21px;
            color: $gold;
            border: 1px solid $gold;
            line-height: 0.5;
            transition: .35s;
            &:hover {
                color: #d1d1d1;
                border: 1px solid #d1d1d1;
            }
            .fa {
                font-size: 21px;
                line-height: 0.8;
                color: $gold;
                transition: .35s;
                &:hover {
                    color: #d1d1d1;
                    outline: none;
                }
            }
        }
    }
}




