
.text-xs {
    font-size: 14px;
    font-weight: 300;
}

.text-sm {
    font-size: 16px;
    @include respond-to($sm){
        font-size: 18px;
    }
}

.text-md {
    font-family: $secondary-font;
    font-size: 25px;
    font-weight: 600;
    @include respond-to($sm){
        font-size: 30px;
    }
}

.text-lg {
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    @include respond-to($sm) {
        font-size: 36px;
    }
}

.banner-title {
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.1;
    @include respond-to($sm) {
        font-size: 52px;
    }
    .text-section {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
    }
}
.title-card-service {
    font-size: 22px;
    font-weight: 600;
    font-family: $secondary-font;
}

.title-section-theme {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    font-family: $secondary-font;
    @include respond-to($md) {
        font-size: 28px;
    }
}

.title-card-project,
.title-post {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    font-family: $secondary-font;
}
.counter-item  span {
    font-size: 40px;
    font-weight: 200;
    line-height: 0.75;
    @include respond-to($lg) {
        font-size: 48px;
    }
}
.title-widget {
    font-size: 24px;
    font-weight: 600;
    font-family: $secondary-font;
    color: $white;
}

.xs-text-footer {
    font-size: 12px;
    font-weight: 300;
}

.sm-text-footer {
    font-size: 13px;
    font-weight: 300;
}




