@import '../components/home/section-banner';
@import '../components/home/section-services';
@import '../components/home/section-realization';
@import '../components/home/section-themes';
@import '../components/home/section-project';
@import '../components/home/section-presentation';
@import '../components/home/section-devices';
@import '../components/home/section-counters';
@import '../components/home/section-posts';
@import '../components/home/section-partners';


.title-section {
    color: $secondary;
    margin: 0 auto 7px;
}

.sub-title-section {
    width: 100%;
    max-width: 757px;
    margin: 0 auto 35px;
}

