//my fonts

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

//my colors

$primary: #8c8c8c;
$secondary: #555555;
$black: #191919;
$thick-black: #111111;
$dark-choco: #362f2d;
$choco: #4e3427;
$white: #ffffff;
$light-grey: #fbfaf8;
$light-gold: #f1eee9;
$gold: #c7b299;
$grey-shoco: #615855;
$dark-gold: #998675;

//breakpoints

$xs: '(max-width: 768px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 992px)';
$lg: '(min-width: 1170px)';