.section-realization {
    padding-top: 50px;
    background-color: $light-grey;
    text-align: center;
    @include respond-to($sm){
        padding-top: 55px;
    }
    @include respond-to($md){
        padding-top: 64px;
    }
    .container-img {
        width: 100%;
        max-width: 1230px;
        overflow: hidden;
    }
    .img-browsers {
        width: 100%;
        display: block;
    }
}